.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 25px;
}

.pic {
    height: 400px;
    width: 100%;
    border: solid 2px lightslategray;
    justify-content: center;
}