.container {
    display: flex;
    gap: 25%;
    align-items: center;
    margin: 10%;
}

.img {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
}