

.container {
    display: flex;
    gap: 25%;
    align-items: center;
    margin: 10%;

}

.img {
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 40%;
}

.title {
    display: block;
    
}

.prices {
    display: flex;
    gap: 20%;
}

p {
    text-decoration: underline;
}